<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='/all/logout'>Log Out</a>
    <h1>Student Profile</h1>
    <a href='/all/filecomplaint'>File Complaint</a>
</body>
</html>