<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="../../personnel/viewcomplaints/style.css"> --}}
    <style>
        nav div ul li a{
            color: white
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark fixed-top">
        <a href="" class="navbar-brand" style="color:white">
            <img src='../../images/icons8-air-force-commander-male-48.png' height="25">
            Campus Security Management
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/student/profile" class="nav-link active">
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a href="/all/filecomplaint" class="nav-link active">
                    File Complaint
                </a>
            </li>
            <li class="nav-item">
                <a href="/student/enterhostel" class="nav-link active">
                    Enter Hostel
                </a>
            </li>
            <li class="nav-item">
                <span id="person" class="nav-link active" style="color:rgb(252, 249, 88)">
                    Welcome, 
                </span>
            </li>
            <li class="nav-item">
                <a href="/all/logout" class="nav-link active">
                    Log Out
                </a>
            </li>
        </ul>
        </div>
    </nav>
    <br><br><br>

    <a href='/all/logout'>Log Out</a>
    <h1>Student Profile</h1>
    <a href='/all/filecomplaint'>File Complaint</a><br><br>
    <a href='/student/enterhostel'>Enter Hostel</a>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(()=>{
            $.get('/user',(res)=>{
                console.log(res)
                $('#person').append(res)
            })
        })
    </script>
</body>
</html>