<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Hostel</title>
</head>
<body>
    <h1>You have been granted Entry.</h1>
    <h1>Welcome to the hostel.</h1>
</body>
</html>