<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View CCTV Footage</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../../personnel/cctv/style.css">
    <script src="../../personnel/cctv/script.js"></script>
    <style>
        nav div ul li a{
            color: white
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark fixed-top">
        <a href="" class="navbar-brand" style="color:white">
            <img src='../../images/icons8-air-force-commander-male-48.png' height="25">
            Campus Security Management
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/personnel/profile" class="nav-link active">
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/adduser" class="nav-link active">
                    Add User
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/viewdb" class="nav-link active">
                    User Database
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/viewcomplaints" class="nav-link active">
                    Complaints
                </a>
            </li>
            <li class="nav-item">
                <a href="/all/filecomplaint" class="nav-link active">
                    File Complaint
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/viewhostellog" class="nav-link active">
                    Hostel Entry Log
                </a>
            </li>
            <li class="nav-item">
                <span id="person" class="nav-link active" style="color:rgb(252, 249, 88)">
                    Welcome, 
                </span>
            </li>
            <li class="nav-item">
                <a href="/all/logout" class="nav-link active">
                    Log Out
                </a>
            </li>
        </ul>
        </div>
    </nav>
    <br><br><br>
    <a href="/personnel/profile">Back To Profile</a>

    <h1 align="center">Monitor CCTV Footage</h1>
    <div class="container">
    <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="cctv/videos/sample.mp4?autoplay=1" frameborder="0" allowfullscreen autoplay=1></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Will my credits transfer?</span>                    
                    
                </div><!-- card content -->
                
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VNYwx5KBoYY" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->           
                <div class="card-content">
                    <span class="card-title">Do I have to live on campus?</span>                    
                </div><!-- card content -->              
            </div>
        </div>
    </div>

        <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/23mXDU5bBhw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">How can I pay for college?</span>                    
                </div><!-- card content -->
                
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/oJhPYmw21fw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Will I fit in?</span>                    
                </div><!-- card content -->
                
            </div>
        </div>
    </div>

    <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DUUR2KAP47A" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Transfer Price</span>                    
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                
                <div class="card-reveal">
                    <span class="card-title">Transfer Price</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
     
    </div>


</div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(()=>{
            $.get('/user',(res)=>{
                console.log(res)
                $('#person').append(res)
            })
        })
    </script>
</body>
</html>