<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View CCTV Footage</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../../personnel/cctv/style.css">
    <script src="../../personnel/cctv/script.js"></script>
</head>
<body>
    <a href="/personnel/profile">Back To Profile</a>

    <div class="container">
    <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="cctv/videos/sample.mp4?autoplay=1" frameborder="0" allowfullscreen autoplay=1></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Will my credits transfer?</span>                    
                    
                </div><!-- card content -->
                
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VNYwx5KBoYY" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->           
                <div class="card-content">
                    <span class="card-title">Do I have to live on campus?</span>                    
                </div><!-- card content -->              
            </div>
        </div>
    </div>

        <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/23mXDU5bBhw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">How can I pay for college?</span>                    
                </div><!-- card content -->
                
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/oJhPYmw21fw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Will I fit in?</span>                    
                </div><!-- card content -->
                
            </div>
        </div>
    </div>

    <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DUUR2KAP47A" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Transfer Price</span>                    
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                
                <div class="card-reveal">
                    <span class="card-title">Transfer Price</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
     
    </div>


</div>
</body>
</html>