<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel Profile</title>
</head>
<body>
    <a href='/all/logout'>Log Out</a>
    <h1>Personnel Profile</h1>
    <form action="/personnel/adduser" method="GET">
        <input type="submit" value="Add User">
    </form><br>
    <form action="/personnel/viewdb" method="GET">
        <input type="submit" value="View User Database">
    </form> 
    <br>
    <form action="/personnel/viewcomplaints" method="GET">
        <input type="submit" value="View Complaints">
    </form> 
    <br>
    <form action="/all/filecomplaint" method="GET">
        <input type="submit" value="File Complaint">
    </form> 
    <br>
    <form action="/personnel/viewhostellog" method="GET">
        <input type="submit" value="View Hostel Entry Log">
    </form> 
    <br>
    <form action="/personnel/viewcctv" method="GET">
        <input type="submit" value="View CCTV Feed">
    </form> 
    <br>
</body>
</html>