<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel Profile</title>
</head>
<body>
    <a href='/all/logout'>Log Out</a>
    <h1>Personnel Profile</h1>
    <form action="/personnel/adduser" method="GET">
        <input type="submit" value="Add User">
    </form><br>
    <form action="/personnel/viewdb" method="GET">
        <input type="submit" value="View User Database">
    </form> 
    <br>
    <a href='/personnel/viewcomplaints'>View Complaints</a><br><br>
    <a href='/all/filecomplaint'>File Complaint</a>
</body>
</html>